body {
    font-family: Arial, sans-serif;
    background-color: #4CAF50;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100px;
    height: 100px;
}
.header{
    color: #4CAF50;
}